* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.appFace {
  width: 32%;
  margin: auto;
  background: #3B5998;
  color: #dfe3ee;
  border: 1px solid #8b9dc3;
  border-radius: 5px;
  padding: 2rem;
}

.title {

  width: 95%;
  margin: auto;
  border-bottom: 1px dotted #8b9dc3;
}

.container {
  margin: 1rem;
  padding: 0.5rem;
  text-align: center;
}

label {
  display: block;
  font-size: 1.5rem;
  font-weight: 600;
}

.container input {
  width: 75%;
  font-size: 1.2rem;
  outline: none;
  border-radius: 5px;
  padding: 0.2rem;
}

.button {
  text-align: center;
}

.btn {
  outline: none;
  color: #dfe3ee;
  background-color: #8b9dc3;
  width: 40%;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}

.btn:hover {
  background-color: #dfe3ee;
  color: #8b9dc3;
}

.result {
  color: black;
}

.container-options label {
  display: inline;
}